In [1]:
import pandas as pd
import sqlite3
from datetime import datetime

LOCAL_DB = r'D:\#Mega\Jeferson - Dev\02 - Linguagens\Python\Controle_combustivel\dados\consumo.db'

In [2]:
#modificar para listar os carros
def Obter_carros():
    conn = sqlite3.connect(LOCAL_DB)
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM carros")
    categorias = cursor.fetchall()
    conn.close()
    return [categoria[1:5] for categoria in categorias]

In [28]:

def Cadastrar_combustivel(nome, valor=0.0, posto='BR'):
    conn = sqlite3.connect(LOCAL_DB)
    cursor = conn.cursor()
    cursor.execute(
            "INSERT INTO combustivel (nome, valor, posto_referencia) "
            "VALUES (?, ?, ?)",
            (nome, valor, posto)
        )
        
    conn.commit()
    conn.close()


def Obter_combustivel():
    conn = sqlite3.connect(LOCAL_DB)
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM combustivel")
    categorias = cursor.fetchall()
    conn.close()
    return [categoria[1:2] for categoria in categorias]

In [32]:
comb = pd.DataFrame(Obter_combustivel())
comb

          0
0    Etanol
1  Gasolina

In [5]:
Cadastrar_combustivel('Gasolina', '5.79', 'Limoeiro-PS')

In [9]:
Obter_carros()

[('FORD', 'KA', 2018, 'PZN0H47')]

In [18]:
def Obter_info_tabela_carros():
    """
    Obtém todos os carros cadastrados e retorna um DataFrame com colunas renomeadas
    """
    conn = sqlite3.connect(LOCAL_DB)
    try:
        # Obtém os dados e os nomes das colunas
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM tanques")
        dados = cursor.fetchall()
        
        # Obtém os nomes das colunas
        cursor.execute("PRAGMA table_info(tanques)")
        colunas = [info[1] for info in cursor.fetchall()]
        
        # Cria o DataFrame
        df = pd.DataFrame(dados, columns=colunas)
        
        # Renomeia as colunas para exibição amigável
        df = df.rename(columns={
            'id': 'ID',
            'capacidade_tanque': 'Capacidade',
            'tipo_combustivel': 'Tipo Combustivel',            
            'autonomia_media': 'Autonomia'
            
        })
        
        # Seleciona apenas as colunas relevantes para exibição
        colunas_exibir = ['Capacidade', 'Tipo Combustivel', 'Autonomia']
        return df[colunas_exibir]
        
    finally:
        conn.close()

In [19]:
Obter_info_tabela_carros()

   Capacidade Tipo Combustivel  Autonomia
0        52.0           Etanol       10.0